.main {
    width: 100%;
    justify-content: space-between;
    border: 1px solid silver;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px;
}
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
}
.details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
}

.toggle_btn {
    border: 1px solid silver;
    background-color: #4e4eea;
    color: white;
    padding: 1px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.toggle_btn:hover {
    border: 1px solid silver;
    background-color: rgb(208, 206, 206);
    color: black;
    transition: 100ms
}


