.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_btn {
    border: 1px solid silver;
    background-color: #4e4eea;
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}

.add_btn:hover {
    border: 1px solid silver;
    background-color: rgb(208, 206, 206);
    color: black;
    transition: 100ms
}